article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
h1 {
    text-align: left;
}
p {
    text-align: left;
}
canvas {
    display: block;
    margin: 0 auto;
    top: 5px;
    right: 100px;
    position: fixed;
    background-color: #666;
}
